.navbar{
    display: flex;
    justify-content: center;
    background-color: chocolate;
    color: white;

    &.active{
        background-color: white;
        color: black;
    }
    .container{
        width: 1400px;
        display: flex;
        justify-content: space-between;  
        padding: 20px 0px;  
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{}
            .dot{
                color: green;
            }
        }
        .links{
            display: flex;
            align-items: center;
            gap:24px;
            font-weight: 500;
            button{
                color: white;
                padding: 10px 20px;
                border-radius: 4px;
                border: 1px solid whitesmoke;
                cursor: pointer;
                background-color: transparent;
                &:hover{
                    background-color: rgb(195, 71, 18);
                }
            }
            span{}
        }

    }
}